/* --- LE FOND DE PAGE --- */
body {
    margin: 0;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* --- LE FOND SOMBRE DU POP-UP --- */
#popup-tuto {
    position: fixed;             /* Reste toujours à l'écran */
    top: 0; left: 0;
    width: 100vw; height: 100vh; /* Prend 100% de l'écran */
    background-color: rgba(0, 0, 0, 0.85); /* Noir transparent à 85% */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;               /* S'assure d'être au-dessus du jeu Phaser */
}

/* --- LA BOÎTE CENTRALE --- */
.popup-contenu {
    background-color: #222;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 0px 30px rgba(255, 0, 0, 0.4); /* Halo rouge horreur */
}

/* --- LES IMAGES EN GRAND --- */
.images-grandes {
    display: flex;
    gap: 30px;
    margin: 30px 0;
}

.images-grandes img {
    width: 400px; /* BEAUCOUP plus grand ! (Ajuste selon ton besoin) */
    border-radius: 10px;
}

/* --- LE BOUTON JOUER --- */
#btn-jouer {
    padding: 15px 50px;
    font-size: 28px;
    font-weight: bold;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

#btn-jouer:hover {
    background-color: #cc0000;
    transform: scale(1.1); /* Grossit quand on passe la souris */
}